.badge-container{
    display: inline-flex;
    justify-content: center;
    padding: 2px 12px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #F3F4F6; ;
    cursor: pointer;
}
.pill{
    border-radius: 12px;
}
.red{
    background: #FEE2E2;
    color: #991B1B ;
}
.white{
    background: #F3F4F6;
    color: #1F2937 ;
}
.green{
    color: #D1FAE5;
    background-color: #D1FAE5;
}
.yellow{
    background: #FEF3C7;
    color: #92400E ;
}
.blue{
    background: #DBEAFE;
    color: #1E40AF ;
}
.dark-blue{
    background: #E0E7FF;
    color: #3730A3 ;
}
.purple{
    background: #EDE9FE;
    color: #5B21B6 ;
}
.pink{
    background: #5B21B6;
    color: #9D174D ;
}