.card-container {
  position: relative;
   
  display: inline-flex;

  border-radius: 6px;
  padding: 0px 24px 32px 24px;
  gap: 32px;
  align-self: stretch;
  transition: 300ms linear;
  border-radius: 8px;
  background-color: #f9fafb;
}
.card-title {
  color: #111827; 
  font-size: 18px;
  font-weight: 500;
}
.card-description {
  color: #6b7280;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.img-container {
  position: absolute;
  top: -24px;
  right: 43.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  background-color: red;
  margin: 0px auto;
  border-radius: 6px;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.card-inside {
  margin-top: 56px;
  display: inline-flex;
  flex-direction: column;
    width: 350px;
  align-items: center;
  gap: 20px;
}

.card-container:hover {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
}
