.banner-container {
  display: flex;
  gap: 12px;
  padding: 16px;
  background: #ecfdf5;
  border-radius: 6px;
}

.left-icon > svg {
  width: 20px;
  height: 20px;
}

.right-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.success {
  color: #065f46;
  background: #ecfdf5;
}
.warning {
  color: #92400e;
  background: #fffbeb;
}

.error {
  background: #fef2f2;
  color: #b45309;
}

.neutral {
  color: #1e40af;
  background: #eff6ff;
}

.success .text-description {
  color: #10795b;
  background: #ecfdf5;
}
.warning .text-description {
  color: #b65b22;
  background: #fffbeb;
}

.error .text-description {
  background: #fef2f2;
  color: #d37d3b;
}

.neutral .text-description {
  color: #5070da;
  background: #eff6ff;
}
